.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.example {
  max-width: 30rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.button {
  background-color: transparent;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* ------------------------------ */
:root {
  --bg-color: white;
  --text-color: black;
  --link-color: blue;
  --button-bg: white;
}

.example {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.example a {
  color: var(--link-color);
}

.example button {
  background-color: var(--button-bg);
}

.dark-mode {
  --bg-color: black;
  --text-color: white;
  --link-color: yellow;
  --button-bg: orange;
}
